[Unit]
Description=Glacier dialer application
Requires=dbus.socket lipstick.service voicecall-manager.service
After=dbus.socket lipstick.service voicecall-manager.service

[Service]
ExecStart=/usr/bin/glacier-dialer
Restart=always
