[Unit]
Description=Voicecall ui prestart
After=lipstick.service
Requires=dbus.socket voicecall-manager.service

[Service]
Environment="QT_QPA_PLATFORM=wayland"
ExecStart=/usr/bin/glacier-dialer --prestart
Restart=always

[Install]
WantedBy=graphical-session.target
