[Unit]
Description=Voicecall ui prestart
After=pre-user-session.target
Requires=dbus.socket voicecall-manager.service booster-nemomobile.service

[Service]
Environment="QT_QUICK_CONTROLS_STYLE=Nemo"
ExecStart=/usr/bin/glacier-dialer --prestart
Restart=always

[Install]
WantedBy=user-session.target
